*~
bin
fitnesse/fitnesse.jar
fitnesse/jsSlim.jar
fitnesse/phpslim.jar
fitnesse/phpslim.phar
fitnesse/rubyslim
fitnesse/waferslim
#FitNesseRoot/FitNesse/
FitNesseRoot/FitNesse/*Acceptance*
FitNesseRoot/FitNesse/Sample*
FitNesseRoot/FitNesse/Junk*
FitNesseRoot/FitNesse/ReadProtectedPage
FitNesseRoot/FitNesse/SliM

FitNesseRoot/files/images/FitNesseLogo.psd
FitNesseRoot/files/images/Thumbs.db
FitNesseRoot/files/images/*/Thumbs.db
target

