<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build SlimSpecs and dependencies (FitNesse, RubySlim, JsSlim, PhpSlim)</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <org.spearce.jgit.transport.RemoteConfig>
        <string>SlimSpecs</string>
        <int>5</int>
        <string>fetch</string>
        <string>+refs/heads/*:refs/remotes/origin4/*</string>
        <string>receivepack</string>
        <string>git-upload-pack</string>
        <string>uploadpack</string>
        <string>git-upload-pack</string>
        <string>url</string>
        <string>/home/gramlich/workspace/SlimSpecs</string>
        <string>tagopt</string>
        <string></string>
      </org.spearce.jgit.transport.RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <clean>false</clean>
    <submoduleCfg class="list"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>FitNesse</projectName>
      <filter>dist/fitnesse.jar</filter>
      <target>fitnesse</target>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>WaferSlim</projectName>
      <filter>**</filter>
      <target>fitnesse/waferslim</target>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Ant>
      <targets>clean clean-testreports run-fitnesse-suite</targets>
      <properties>hudsonbuild=true
update-dependencies=true
suitename=Python</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>target/test-reports/fitnesse/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>target/test-reports/*.xml</testResults>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>